@model AdminUser.Models.Reserva

@{
    ViewData["Title"] = "EntregaVehiculo";
}

<h1>Entregar Auto</h1>

<h3>Esperamos lo hayas disfrutado</h3>
<div>
    <h4>Detalles de la Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auto.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-12">
            <h3>Numero de dias Utilizado el coche : @ViewBag.IntervaloDias</h3>
            <h3>Valor de la categoria : $ @ViewBag.CategoriaAutos </h3>
            <h3>El valor que debes cancelar por tu reserva es de : $ @ViewBag.PrecioReserva</h3>    
            
        </div>
    </div>
    <form asp-action="EntregaVehiculo">
        <input type="hidden" asp-for="ReservaId" />
        <input type="submit" value="Entregar" class="btn btn-danger" /> |
        <a asp-action="UsuariosReserve">Volver al inicio</a>
    </form>
</div>